ROOT_DOMAIN=thegymnasium.com
ROOT_BASE=${ROOT_DOMAIN}
ROOT_URL=https://${ROOT_BASE}
MARKETING_SITE_BASE_URL=${ROOT_URL}
SESSION_COOKIE_DOMAIN=${ROOT_DOMAIN}
SHARED_COOKIE_DOMAIN=${ROOT_DOMAIN}
ACCREDIBLE_API_KEY=setme
SEGMENT_API_KEY=setme
ONETRUST_COOKIE_SCRIPT_ID=setme
INTERCOM_APP_ID=setme
