ROOT_DOMAIN=gymnasium.day
ROOT_BASE=${ROOT_DOMAIN}
ROOT_URL=https://${ROOT_BASE}
ACCREDIBLE_API_KEY=setme
SEGMENT_API_KEY=setme
ONETRUST_COOKIE_SCRIPT_ID=setme
INTERCOM_APP_ID=setme
GOOGLE_ANALYTICS_4_ID=setme
