ROOT_DOMAIN=edly.io
ROOT_BASE=${ROOT_DOMAIN}:8888
ROOT_URL=http://${ROOT_BASE}
API_URL=${ROOT_URL}
ACCREDIBLE_API_KEY=setme
SEGMENT_API_KEY=setme
ONETRUST_COOKIE_SCRIPT_ID=setme
INTERCOM_APP_ID=setme
GOOGLE_ANALYTICS_4_ID=setme
