volumes
data
node_modules

# XXX: I wish there would be an easies way without too many asterisks

# Ignore everything in env/
env/apps
env/dev
env/k8s
env/kustomization.yml
env/local
env/plugins
env/version

# Except for themes
env/build/openedx/*

env/build/permissions
.direnv

*.pyc

#include django_plugin
!env/build/openedx/requirements

.tvm
