[submodule "mfe/brand-openedx"]
	path = mfe/brand-openedx
	url = https://github.com/gymnasium/brand-openedx.git
	branch = main
[submodule "mfe/frontend-app-account"]
	path = mfe/frontend-app-account
	url = https://github.com/gymnasium/frontend-app-account.git
	branch = gym.quince.3
[submodule "mfe/frontend-app-authn"]
	path = mfe/frontend-app-authn
	url = https://github.com/gymnasium/frontend-app-authn.git
	branch = gym.quince.3
[submodule "mfe/frontend-app-course-about"]
	path = mfe/frontend-app-course-about
	url = https://github.com/gymnasium/frontend-app-course-about.git
	branch = gym.quince.3
[submodule "mfe/frontend-app-discussions"]
	path = mfe/frontend-app-discussions
	url = https://github.com/gymnasium/frontend-app-discussions.git
	branch = gym.quince.3
[submodule "mfe/frontend-app-learner-dashboard"]
	path = mfe/frontend-app-learner-dashboard
	url = https://github.com/gymnasium/frontend-app-learner-dashboard.git
	branch = gym.quince.3
[submodule "mfe/frontend-app-learning"]
	path = mfe/frontend-app-learning
	url = https://github.com/gymnasium/frontend-app-learning.git
	branch = gym.quince.3
[submodule "mfe/frontend-app-profile"]
	path = mfe/frontend-app-profile
	url = https://github.com/gymnasium/frontend-app-profile.git
	branch = gym.quince.3
[submodule "mfe/gym-frontend-components"]
	path = mfe/gym-frontend-components
	url = https://github.com/gymnasium/gym-frontend-components.git
	branch = main
[submodule "plugins/gym-theme"]
	path = plugins/gym-theme
	url = https://github.com/gymnasium/gym-theme
	branch = gym.quince.2
[submodule "plugins/custom-reg-form"]
	path = plugins/custom-reg-form
	url = https://github.com/gymnasium/custom_registration_form.git
	branch = feat/quince
