[submodule "mfe/brand-openedx"]
	path = mfe/brand-openedx
	url = git@github.com:gymnasium/brand-openedx.git
	branch = gym.palm.4
[submodule "mfe/frontend-app-account"]
	path = mfe/frontend-app-account
	url = git@github.com:gymnasium/frontend-app-account.git
	branch = gym.palm.4
[submodule "mfe/frontend-app-authn"]
	path = mfe/frontend-app-authn
	url = git@github.com:gymnasium/frontend-app-authn.git
	branch = gym.palm.4
[submodule "mfe/frontend-app-course-about"]
	path = mfe/frontend-app-course-about
	url = git@github.com:gymnasium/frontend-app-course-about
	branch = gym.palm.4
[submodule "mfe/frontend-app-discussions"]
	path = mfe/frontend-app-discussions
	url = git@github.com:gymnasium/frontend-app-discussions.git
	branch = gym.palm.4
[submodule "mfe/frontend-app-learner-dashboard"]
	path = mfe/frontend-app-learner-dashboard
	url = git@github.com:gymnasium/frontend-app-learner-dashboard
	branch = gym.palm.4
[submodule "mfe/frontend-app-learning"]
	path = mfe/frontend-app-learning
	url = git@github.com:gymnasium/frontend-app-learning.git
	branch = gym.palm.4
[submodule "mfe/frontend-app-profile"]
	path = mfe/frontend-app-profile
	url = git@github.com:gymnasium/frontend-app-profile.git
	branch = gym.palm.4
[submodule "mfe/gym-frontend-components"]
	path = mfe/gym-frontend-components
	url = https://github.com/gymnasium/gym-frontend-components.git
	branch = gym.palm.4
[submodule "plugins/gym-mfe"]
	path = plugins/gym-mfe
	url = https://github.com/gymnasium/gym-mfe.git
	branch = gym.palm.4
[submodule "plugins/gym-theme"]
	path = plugins/gym-theme
	url = https://github.com/gymnasium/gym-theme
