volumes
data
node_modules

# XXX: I wish there would be an easies way without too many asterisks

# Ignore everything in env/
env/
.direnv
.venv

*.pyc

#include django_plugin
!env/build/openedx/requirements

# tvm folder
.tvm

.env.production
.env.staging

!.env.production.example
!.env.staging.example

*.temp

config.yml
