custom_reg_form @ git+https://github.com/gymnasium/custom_registration_form@feat/quince#egg=custom_reg_form
gym-theme @ git+https://github.com/gymnasium/gym-theme@gym.redwood#egg=gym_theme
python-dotenv==1.0.1
tutor-forum==18.0.0
tutor-mfe @ git+https://github.com/gymnasium/tutor-mfe@main#egg=tutor_mfe
